.banner {
  background-size: cover;
  background-position: center;
  padding: 120px 0;
}

.banner h1 {
  color: white;
  font-size: 38px;
}

.banner p {
  color: white;
  opacity: .9;
  font-size: 28px;
}
